<html>
<body>
  <p><em>Dear #{salesOrder.customer.name},</em></p> 
  <p>Thank you for placing your order with dewbag.com. The order will be delivered at the following address</p>
  <br/>
  <p>#{salesOrder.customer.address.address1}, #{salesOrder.customer.address.address2}</p>
  <p>#{salesOrder.customer.address.city}</p>
  <p> on #{salesOrder.deliveryDate} between #{salesOrder.deliverySlot.startTime} #{salesOrder.deliverySlot.startAmPm} and #{salesOrder.deliverySlot.endTime} #{salesOrder.deliverySlot.endAmPm}. 
  <br/>
  <p>Please refer the Order No. '#{salesOrder.orderId}' for further conversations</p>
  <br/>
  <h2>Your order details:</h2>
  
  <table border="1" style="width:100%">
    <thead>
      <tr>
        <th width="40">No.</th>
        <th>Item</th>
        <th width="50">Quantity</th>
        <th width="50">MRP</th>
        <th width="50">Discount</th>
        <th width="50">Our Price</th>
        <th width="50">Savings</th>
        <th width="50">Total Price</th>
      </tr>
    </thead>
    <tbody>
      #{orderItems.data}
    </tbody>
  </table>
  
  <br/>
  <p>Warm Regards</p>
  <p>dewbag.com</p>
  </body>
</html>
