<html>
<body>
  <p><b>Dear #{userData.user.name}</b></p>
  <br/>
  <p>Welcome to dewbag.com</p>
  <br/>
  
  <p>Thank you for registering with dewbag.com. We have sent you this confirmation message as a verification step to ensure that your email address was typed correctly and is valid.</p>

  <p>To confirm your registration with dewbag.com, simply click on the link below. If your email program does not display the link as a link then copy and paste the URL into the address box in your web browser.</p>

  <br/>
   <a href='#{userData.baseUrl}/account/regconfirm/#{userData.user.accessToken}'>#{userData.baseUrl}/account/regconfirm/#{userData.user.accessToken}</a>
  <br/>
  <br/>
  <p>Please note that you MUST use the above link to verify your account before you can log in to your account at dewbag.com.</p>

  <p>If you did not register with dewbag.com, please simply ignore this message.</p>

  <p>If you have any questions, please contact us on 080-2678-0209 or at customercare@dewbag.com.</p>

  <br/>
  Thanks
 <p>dewbag.com</p> 
  
</body>
</html>  